/* Tablet Device */

@media (max-width:990px){
    .pd{
        padding: 1rem;
    }
    .top_right {
        display: none;
    }
    
    .topbar_container {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    
    .search_box {
        display: none;
    }
    
    .user_profile{
        padding-top: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background: var(--primary-color);
        z-index: 99;
        width: 100vw;
        text-align: center;
        padding: 1rem;
        transition: var(--transition-ani);
        -webkit-transition: var(--transition-ani);
        -moz-transition: var(--transition-ani);
        -ms-transition: var(--transition-ani);
        -o-transition: var(--transition-ani);
}
    
    .navbar-nav .nav-link {
        color: #fff !important;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }
    .bg{
        height: 25vh; 
    }
    .home_content h1 {
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0.5rem;
    }
    
    .app_btn {
        padding: 0.7rem 1.5rem;
    }
    .video_cion{
        right: 10%;
    }

    .slick-dots {
        display: none !important;
    }
}


/* Mobile */

@media (max-width:520px){
    .topbar_container{
        padding: 10px 0px;
    }
    .topbar_container .sub_title{
        display: none;
    }
    .topbar_container .md{
        display: block;
    }
    .navbar_main {
        display: none;
    }
    
    .account p {
        display: none;
    }
    
    .cart_top span {
        top: 2px;
        left: 60px;
    }
    
    .home_content {
        text-align: center;
    }
    
    .sub_title {
        font-size: 0.8rem;
    }
    
    .home_content h1 {
        font-size: 1.1rem;
    }
    
    .app_btn {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
    }
    
    .bg {
        justify-content: center;
    }

    .myCol {
        flex-direction: column;
    }
    .product .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 1.4rem;
    }
    
    .disocunt_content {
        text-align: center;
    }

    
    .time {
        width: 50px;
        height: 50px;
    }
    
    
    .kineticjs-content {
        display: none !important;
    }
    
    .discount .app_btn {
        margin-top: 4rem !important;
    }
    
    .video_cion {
        width: 30px;
        height: 30px;
        top: 225px;
        left: 275px;
    }
    
    .video_cion i {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .counter {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .banner_content h3 {
        font-size: 1rem;
        line-height: 25px;
    }
    
    .sm_content {
        width: 100%;
        text-align: center;
    }
}